@charset "UTF-8";

/*
 * module:  mod-login
 * author:  ceci
 */

//登录
.mod-login {
  height: 100%;
  overflow: hidden;
  @include bgurl('logo-banner.jpg',$x: left, $y: 350px);

  background-repeat: repeat-x;
  position: relative;
  background-color: $bgdark-d;

  &::before {
    position: absolute;
    left: 0;
    top: 350px;
    bottom: 0;
    right: 0;
    background-color: rgba(40, 54, 69, 0.6);
    content: "";
  }

  .layout-wrapper {
    position: relative;
    height: 100%;
  }

  .formbox {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 500px;
    margin-right: -300px;
    transform: translateY(-50%);
    padding: 50px 80px;
    background-color: $bgdark-d;
    // background-color: rgba(40,54,69,.9);
    border-radius: $radius;
  }

  .errortip {
    height: 20px;
    line-height: 20px;
    margin: 20px 0 10px;
    text-align: center;
    font-size: 12px;
    color: $red;
  }

  .form-title {
    height: 46px;
    line-height: 46px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }

  .form-row {
    position: relative;
    margin-top: -2px;
    @extend %iconfont;
    &:before {
      position: absolute;
      left: 10px;
      top: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
      margin-top: -15px;
      font-size: 20px;
      color: $color;
      z-index: 6;
    }
  }

  .form-input {
    padding-left: 50px;

    &:focus {
      position: relative;
      box-shadow: 0 0 8px $main;
    }
  }

  .form-username {
    @extend .icon-user;
    .form-input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .form-pwd {
    margin-top: -1px;
    @extend .icon-password;
    .form-input {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
