@charset "UTF-8";

//-----------------------------------------------------
// author:  ceci
//-----------------------------------------------------


//--------------------- 样式1 ---------------------//
.ui-maintitle {
  position: relative;

  @extend %cf;

  text-align: right;
  height: 30px;
  margin-bottom: unit(10);
  overflow: hidden;

  &__text {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: $color-d;
  }

  .frbox {
    display: inline-block;
    vertical-align: middle;
  }

  ///////////////// 一级
  &--level1 {
    padding-left: 35px;

    .ui-maintitle__text {
      color: $main;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 28px;
      color: $main;
      text-align: left;

      @extend %iconfont;
    }
  }

  ///////////////// 二级
  &--level2 {
    // border-bottom: 1px solid lighten($border,3%);
    .ui-maintitle__text {
      position: relative;
      padding-left: unit(10);
      line-height: 30px;
      color: $color-l;
      font-size: $fz;
      // @include transition(transform);
      cursor: default;
      // &:hover {
      // 	transform: translateY(-10px);
      // }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: unit(16);
        width: unit(3);
        margin-top: unit(-8);
        background-color: $color-l;
      }
    }
  }
}
